@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  background-color: #1b1b21;
}

.everything {
  display: flex;
  flex-direction: row;
}

.side-nav {
  background-color: #232533;
  height: 100vh;
  width: 243px;
}

.logo {
  padding-top: 15px;
  padding-left: 44px;
}

.navigation {
  margin-left: 15px;
  padding-top: 10px;
}

.nav-items {
  padding: 10px 10px 10px 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 30px 0px 0px 30px;
}

.nav-items:hover {
  background-color: #13141c;
}

.nav-items p {
  padding-left: 10px;
  color: #9498bb;
  font-family: "Ubuntu", sans-serif;
}

.logout {
  margin-top: 240px;
}

.center-content {
  width: 50vw;
  margin: 25px 60px 0px 60px;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.search-form input {
  height: 40px;
  width: 180px;
  border-radius: 20px;
  border: none;
  background-color: #262837;
  color: #c5caf6;
  padding-left: 15px;
}

.search-form input:focus {
  border: none;
  outline: none;
}

.nav-icons {
  display: flex;
  flex-direction: row;
}

.nav-icons div {
  padding-left: 10px;
}

.watch-later p {
  font-size: 0.8rem;
  padding-left: 10px;
  color: #9498bb;
  font-family: "Ubuntu", sans-serif;
}

.watch-later-btn {
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 25px;
  border: none;
  background-color: #262837;
}

.cover-div {
  margin-top: 35px;
}

.cover-pic img {
  height: 191px;
  width: 60vw;
}

.streaming {
  margin-top: 40px;
}

.stream-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.stream-head h2 {
  font-family: "Ubuntu", sans-serif;
  color: #fff;
}

.stream-drop {
  display: flex;
  align-items: center;
}

.stream-drop svg {
  padding-right: 5px;
}

.stream-drop select {
  border: none;
  background-color: transparent;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
}

.stream-cards{
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

.stream-card{
  border-radius: 10px;
  max-width: 208px;
  background-color: #101118;
}

.stream-card img {
  width: 208px;
  height: 137px;
}

.movie-desc{
  margin: 10px 20px 0px 15px;
}

.movie-desc h4 {
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  max-width: 20ch;
}

.movie-log {
  font-family: "Ubuntu", sans-serif;
  font-size: 0.8em;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 210px;
  margin: 10px 10px 10px -5px;
}

.movie-log div {
  display: flex;
  flex-direction: row;
}
